.singleOrder {
    border: 2px solid red;
    border-radius: 4px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.orderTotal {
    flex-grow: 1;
}

.singlePrice {
    display: flex;
    justify-content: space-between;
}

.orderPrice {
    margin-left: 60px;
}

.orderPrice p {
    font-size: 25px;
    color: white;
    margin-top: 0;
    font-weight: bold;
}

.orderPrice span {
    color: red;
}

.orderTotal p {
    font-size: 25px;
    color: white;
    margin-top: 0;
    text-transform: capitalize;
}

.orderTotal span {
    color: red;
    text-transform: lowercase;
    font-weight: bold;
}

.price p {
    font-size: 25px;
    color: red;
    margin-top: 0;
    font-weight: bold;
    width: 200px;
}

.price span {
    color: white;
}