.dishList {
    width: 1000px;
    margin: 10px auto;
    min-height: 650px;
}

.dishHeader {
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: center;
}

.dishHeader h4 {
    font-size: 25px;
    text-transform: uppercase;
}

.addBtn {
    text-decoration: none;
    color: white;
}