.addForm {
    width: 1000px;
    margin: 20px auto;
    color: white;
}

.addForm h2 {
    color: red;
}

.inputDescription {
    display: flex;
    justify-content: space-between;
    width: 500px;
    font-weight: bold;
    align-items: center;
    margin-bottom: 20px;
}

.field {
    padding: 10px;
    border-radius: 4px;
    width: 300px;
}