.header {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid red;
}

.main-nav li {
    display: inline-block;
    padding-right: 40px;
}

.main-nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0 40px 0;
    text-transform: uppercase;
}

.navLink {
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navLink:hover {
     color: red;
}

.logoImg {
    height: 130px;
    width: auto;
}